<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <form name="sessionForm" ng-submit="save()" class="form-horizontal" novalidate="" role="form">
            <div class="modal-content">
                <div class="modal-header" ng-show="title">
                    <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" ng-bind="title"></h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label class="control-label" for="customer">Asiakas</label>

                                <div>
                                    <input class="form-control" id="customer" ng-model="session.customerId"
                                           ng-options="customer.id as customer.firstName + ' ' + customer.lastName for customer in customers"
                                           placeholder="Valitse asiakas" bs-typeahead type="text">
                                </div>
                            </div>
                        </div>
                        <!--ng-options="customer.id as customer.firstName + ' ' + customer.lastName for customer in customers"-->

                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label class="control-label" for="startDate">Alkaen pvm</label>
                                <input class="form-control" id="startDate" ng-model="session.sessionDate"
                                       placeholder="Alkaen" data-time-type="text"
                                       data-date-format="dd.MM.yyyy"
                                       bs-datepicker type="text">
                            </div>
                            <div class="form-group col-lg-6">
                                <label class="control-label" for="untilDate">Päättyen pvm</label>
                                <input class="form-control" id="untilDate" ng-model="untilDate"
                                       data-min-date="{{sessionDate}}"
                                       placeholder="Päättyen" data-time-type="text"
                                       data-date-format="dd.MM.yyyy"
                                       bs-datepicker type="text">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-6"
                                 ng-class="{'has-error': sessionForm.startTime.$invalid }">
                                <label class="control-label" for="startTime">Alkamisaika</label>
                                <input class="form-control" id="startTime" ng-model="session.startTime"
                                       data-time-format="HH:mm"
                                       data-time-type="date" data-autoclose="1" name="startime"
                                       bs-timepicker type="text">
                            </div>
                            <div class="form-group col-lg-6"
                                 ng-class="{'has-error': sessionForm.endTime.$invalid }">
                                <label class="control-label" for="endTime">Päättymisaika</label>
                                <input class="form-control" id="endTime" ng-model="session.endTime"
                                       data-time-format="HH:mm"
                                       data-time-type="date" data-autoclose="1" name="endTime"
                                       bs-timepicker type="text">
                            </div>
                        </div>
                        <div class="row">
                            <validated-input label="Hinta" property-name="price" ng-model="session.price"
                                             error="errors.price"></validated-input>

                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="$hide()">Peruuta</button>
                    <button type="button" class="btn btn-primary" ng-click="$saveSession()">Tallenna</button>
                </div>
            </div>
        </form>
    </div>
</div>
