<div ng-class="form-group">
    <label class="control-label" for="{{propertyName}}">{{label | translate}}</label>

    <div ng-class="{ 'has-error' : ctrl.errors.length > 0  }">
        <input type="text"
               id="{{propertyName}}"
               class="form-control"
               name="{{propertyName}}"
               placeholder="{{label | translate}}"
               ng-model="ngModel"
               required=""
               ng-disabled="disabled"/>

        <div ng-show="ctrl.$dirty || ctrl.$invalid">
            <span ng-show="ctrl.$error.server">{{ctrl.errors | joinBy:','}}</span>
        </div>
    </div>
</div>
