<form name="customerForm" ng-submit="save()" class="form-horizontal" novalidate="">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Uusi asiakas</h3>
        </div>
        <div class="panel-body">
            <validated-input label="Etunimi" property-name="firstName" ng-model="customer.firstName"
                             error="errors.firstName"></validated-input>
            <validated-input label="Sukunimi" property-name="lastName" ng-model="customer.lastName"
                             error="errors.lastName"></validated-input>
            <validated-input label="Katuosoite" property-name="street" ng-model="customer.street"
                             error="errors.street"></validated-input>
            <validated-input label="Postinumero" property-name="zip" ng-model="customer.zip"
                             error="errors.zip"></validated-input>
            <validated-input label="Kaupunki" property-name="city" ng-model="customer.city"
                             error="errors.city"></validated-input>
            <validated-input label="Oletushinta" property-name="price" ng-model="customer.price"
                             error="errors.price"></validated-input>
        </div>
        <div class="form-group">
            <div class="col-xs-5 col-xs-offset-3">
                <button type="submit" class="btn btn-primary">Tallenna</button>
            </div>
        </div>
    </div>
</form>
