<form name="sessionForm" ng-submit="save()" class="form-horizontal" novalidate="" role="form"
      ng-controller="SessionsController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'view.session.create.header' | translate}}</h3>
        </div>
        <div class="panel-body">
            <fieldset>
                <div class="row">
                    <validated-customer-search
                            class="col-lg-12"
                            header="ctrl.customerSelect.header"
                            label="ctrl.customerSelect.label"
                            items="customers"
                            ng-model="selectedCustomer"
                            select="customer as customer.firstName + ' ' + customer.lastName for customer in items"></validated-customer-search>
                </div>

                <div class="row">
                    <validated-checkbox class="col-lg-4" header="Toistuvuus" label="käynti on toistuva"
                                        property-name="repeating"
                                        ng-model="repeating">
                    </validated-checkbox>
                    <validated-radio-group class="col-lg-6" items="session.sessionTypes"
                                           ng-model="session.sessionType"
                                           header="Käynnin tyyppi"></validated-radio-group>
                </div>
                <div class="row">
                    <validated-date-picker class="col-lg-4" label="Alkaen pvm" property-name="sessionDate"
                                           ng-model="session.sessionDate"></validated-date-picker>

                    <validated-date-picker class="col-lg-4" label="Päättyen pvm" property-name="untilDate"
                                           disabled="!repeating"
                                           ng-model="untilDate"></validated-date-picker>
                </div>

                <div class="row">
                    <validated-time-picker class="col-lg-4" label="Alkamisaika klo" ng-model="session.startTime"
                                           property-name="startTime"></validated-time-picker>
                    <validated-time-picker class="col-lg-4" label="Päättymisaika klo" ng-model="session.endTime"
                                           property-name="endTime"></validated-time-picker>
                </div>
                <div class="row">
                    <validated-input label="Hinta" class="col-lg-2" property-name="price"
                                     ng-model="session.price"></validated-input>
                    <validated-checkbox class="col-lg-6" header="Kela-tuki"
                                        label="veloita Kela-korvaus tälle sessiolle"
                                        property-name="compensated"
                                        ng-model="compensated">
                    </validated-checkbox>
                </div>

            </fieldset>
        </div>
    </div>

    <div class="panel-footer">
        <div class="form-group">
            <div class="col-lg-12">
                <button ng-click="cancel()" class="btn btn-warning">Peruuta</button>
                <button type="submit" ng-click="ok()" class="btn btn-primary">Tallenna</button>
            </div>
        </div>
    </div>
</form>
