<form name="sessionForm" ng-submit="save()" class="form-horizontal" novalidate="" role="form"
      ng-controller="SessionsController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Lisää käynti</h3>
        </div>
        <div class="panel-body">
            <fieldset>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label" for="customer">Asiakas</label>

                            <input class="form-control" id="customer" ng-model="selectedCustomer"
                                   typeahead="customer as customer.firstName + ' ' + customer.lastName for customer in customers"
                                   placeholder="Valitse asiakas" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <label>Käyttäjän tiedot</label>
                    </div>

                    <div class="col-lg-12">
                        <label class="col-lg-2">Nimi</label>

                        <div class="col-lg-6">
                            <span>{{selectedCustomer.firstName}} {{selectedCustomer.lastName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label class="col-lg-2">Osoite</label>

                        <div class="col-lg-6">
                            <span>{{selectedCustomer.street}}</span><br>
                            <span>{{selectedCustomer.zip}} {{selectedCustomer.city}}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <validated-checkbox class="col-lg-12" header="Toistuvuus" label="sessio on toistuva"
                                        property-name="repeating"
                                        ng-model="repeating">
                    </validated-checkbox>
                </div>
                <div class="row">
                    <validated-date-picker class="col-lg-4" label="Alkaen pvm" property-name="sessionDate"
                                           ng-model="session.sessionDate"></validated-date-picker>

                    <validated-date-picker class="col-lg-4" label="Päättyen pvm" property-name="untilDate"
                                           disabled="!repeating"
                                           ng-model="untilDate"></validated-date-picker>
                </div>

                <div class="row">
                    <validated-time-picker class="col-lg-4" label="Alkamisaika klo" ng-model="session.startTime"
                                           property-name="startTime"></validated-time-picker>
                    <validated-time-picker class="col-lg-4" label="Päättymisaika klo" ng-model="session.endTime"
                                           property-name="endTime"></validated-time-picker>
                </div>
                <div class="row">
                    <validated-input label="Hinta" class="col-lg-2" property-name="price"
                                     ng-model="session.price"></validated-input>
                    <validated-checkbox class="col-lg-6" header="Kela-tuki"
                                        label="veloita Kela-korvaus tälle sessiolle"
                                        property-name="reimbursed"
                                        ng-model="reimbursed">
                    </validated-checkbox>
                </div>

            </fieldset>
        </div>
    </div>

    <div class="panel-footer">
        <div class="form-group">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary">Tallenna</button>
            </div>
        </div>
    </div>
    </div>
</form>
